* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(60,60,60);
  max-width:100%;
  background-color:#fafafaf7;
}

.text-right{
  text-align:right;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a{
  text-decoration: none;
  color: #9370c0;
  font-size:20px;
}


p{
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
}

html{
  scroll-behavior: smooth;
}

[class*=col-], [class*=col_], [class~=col]{
  padding:0;
}

[class*=grid-], [class*=grid_], [class~=grid]{
  margin:0;
}

h1, h2, h3, h4{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.centered{
  text-align:center;
}


.paralax{
  background-image: url("/images/backgroundimg.png");
  background-attachment:fixed;
  background-position: top left;
  background-size:cover;
}

.sign-up{
  height:100vh;
}

.fixed-landing{
  background-image:linear-gradient(to top,#fafafa,rgba(255, 255, 255, 0.89), rgba(250, 250, 250, 0.4),rgba(250,250,250,0));
}

/* Header */

.sticky{
  /* position:fixed; */
  top: 0;
  width: 100%;
}
  .mobil-menu{
    display:none;
  }

  .burger-button{
    position:fixed;
    top:4vh;
    right:0vh;
    z-index:9;
    padding:8px;
  }

  .burger-button span{
    width:30px;
    border: 1.5px solid rgb(159, 0, 252);
    background-color:rgb(80,80,80);
    display: block;
    border-radius:22px;
    transition: 1s;

  }

  .burger-button.active span{
    background-color:rgb(80,80,80);
  }

  .burger-top, .burger-bottom{
    position:absolute;
  }

  .burger-top{
    top:02px;
  }

  .burger-bottom{
    bottom:2px;
  }

  .burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color:rgba(250, 250, 250, 0.9);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
    padding-top:26px;
    padding-bottom:26px;
}

.burger-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #7a7876;
  display:block;
  padding:1rem 2rem;
  text-align: center;
  white-space:nowrap;
}

.burger-menu li{list-style:none}

  .mobile-menu-bar{
    display:none;
  }

.logo{
  font-size:40px;
  line-height:36px;
}


.space-around{
  display:flex;
  justify-content:space-around;
}

.main-nav a{
  font-size:17px;
  margin-top:40px;
}

.main-title{
  margin:0 6rem;
}


/* title */

.signup-box{
  padding:10rem 10.5rem;
  font-size:29px;
  line-height:52px;
  text-align:center;
  margin-top:6rem;
}

.signup-box h2{
  margin-bottom:24px;
}

.button-title h4{
  width:22%;
  margin:auto;
  text-decoration:none;
  margin-top:3rem;
  line-height:28px;
}

.fa-angle-double-down{

}

.signup-box h4:hover{
color:#b0a0cb;
}

/* About */
.about-me{
  height:94vh;
}

.about-info{
  padding:5rem 0rem 0rem;
  background-color:rgba(250,250,250);
  font-size:18px;
}

.push-up{
  padding:1rem;
}


.about{
  padding:3rem;
}


.about-img{
 margin:10px;
 margin-top:20px;
}

.about-image1{
 padding:6rem;
}

.about-image2{
  background-image: url("https://i0.wp.com/avancegen.com/wp-content/uploads/2017/04/dra_mardach.jpg?w=750");
 background-size: cover;
 background-position:center;
 padding:6rem;
}

.about-image3{
  background-image: url("https://i0.wp.com/avancegen.com/wp-content/uploads/2017/04/dra_mardach.jpg?w=750");
 background-size: cover;
 background-position:center;
 padding:6rem;
}

/* AVANCEGEN  */
.avancegen{
  padding:1rem;
  background-color:#aecddb;
  color:#ececec;
}
.avancegen-img{
  background-position:center;
  background-size:cover;
  margin:auto;
  margin-bottom:15px;
}

.avance{
  text-decoration:none;
  color:#edd04e;
  font-family:'Playfair Display', serif;
  font-size:21px;
}

.avancegen h3, ul, h2{
  margin:auto;
}

.avancegen h2{
  font-size:30px;
  line-height:42px;
  margin-bottom:0px;
  margin-left:20px;
}

.avance-text{
  margin:auto;
}

.avancegen ul{
  font-family:'Open Sans', sans-serif;
  font-size:20px;
  margin-top:30px;
  margin-bottom:30px;
}

.button-avancegen h4{
  color:#ececec;
  width:27%;
  margin:auto;
  border:3px solid #ececec;
  text-decoration:none;
  box-shadow:5px 5px rgb(60,60,60);
  background-color:#8ba6bee0;
  text-align:center;
  padding:13px;
  margin-top:22px;
}

.button-avancegen h4:hover{
  background-color:#6690b2;
}



/* Services */
.service-1-img{
  background-image: url("/images/orfeu-de-santateresa-1117083-unsplash.jpg");
  background-position:center;
  background-size:cover;
  padding:3rem;
}

.service-2-img{
  background-image: url("/images/jorge-aguilar-731953-unsplash.jpg");
  background-position:center;
  background-size:cover;
}


.service-3-img{
  background-image: url("/images/maryna-yazbeck-1389581-unsplash.jpg");
  background-position:center;
  background-size:cover;
}

.service-4-img{
  background-image: url("/images/jodie-stallard-624513-unsplash.jpg");
  background-position:center;
  background-size:cover;
}

.services{
  padding:3rem;
  background-color:rgb(250,250,250);
  position:relative;
}

.push-right{
  margin-right:-30px;
  margin-left:30px;
  margin-top:2rem;
  margin-bottom:2rem;
  background-color:#dee9eeb3;
  z-index:3;
  padding:3rem 4rem;
}

.push-left{
  margin-left:-30px;
  margin-right:30px;
}

.services h2{
  margin-bottom:15px;
}

.services-title h2{
  text-align:center;
  margin-left:3rem;
  width:90%;
  padding: 2rem;
  background-color: #d4cddd73;
}

/* SLIDESHOW */
.slideshow-container{
  width:90%;
  margin:auto;
  margin-top:0;
}

.mySlides{
  display:none;
}

.services span, .mardach-span{
  color:#edd04e;
}

.mardach-span{
  font-size:36px;
  margin-bottom:20px;
}

.about-text{
  padding:4rem 3rem;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 150%;
  width: auto;
  padding: 16px;
  color: rgb(60,60,60);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: #b0a0cb;
}

/* About Paralax */
.paralax{
background-image: url("/images/backgroundimg.png");
background-attachment:fixed;
background-position: top left;
background-size:cover;
}

/* contact  */
.contact{
  padding:5rem 0rem 5rem;
  margin:7rem 6rem;
  border-radius:5px;
  background-color:#f4f2eceb;
}
.contactbackground-img{
  background-image:url("images/backgroundimg.png");
  background-position:bottom left;
  height:94vh;
}
.email-info{
  padding: 0rem 5rem;
  text-align: center;
  margin-bottom: 38px;
}

textarea{
  padding: 15px 10px 85px;
  width:85%;
  margin-left:25px;
}

.contact-img{
  background-image:url("/images/jodie-stallard-624513-unsplash.jpg");
  background-size:cover;
  background-position:center;
}

.contact-input{
  margin-bottom:15px;
  width:85%;
  padding:10px 7px;
  margin-left:25px;
}


.contact h2{
  margin-bottom:15px;
  line-height:25px;
  text-align:center;
}

.contact p{
  padding-left: 10px;
  padding-top:40px;
}

.contact-button{
  width:18%;
}
/* footer */


footer{
  padding:1rem 0rem;
  background-color:#f4f2ec;
  text-align:center;
}



/* ANIMATE CSS */



@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated{
  animation-duration: 1s;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration:4s;
}

/* Blog Layout */

.background-img-blog{
background-image:url("images/backgroundimg.png");
background-position:right;
}

.blog-layout{
  padding:1rem 3rem 3rem;
}


.blog-posts h2{
  margin-bottom:25px;
  font-size:43px;
}

.blog-author{
  font-size:15px;
  margin-bottom:11px;
}

.blog-menu{
  margin-bottom:38px;
}

.main-blog-nav{
  margin-top:49px;
}

.main-blog-nav a:hover{
  color:#b0a0cb;
}

.main-nav a:hover{
  color:#b0a0cb;
}

.post-preview a:hover{
  color:#b0abcb;
}

.post-preview{
  padding: 1rem 0;
}

.post-background{
  background-color:#f4f2eceb;
}

.post-preview img{
  width:80%
}




@media (max-width: 768px){
  .mobil-menu{
    display:block;
  }

  .blog-menu{
    display:none;
  }

  .main-nav{
    display:none;
  }

  .about-image2, .about-image3{
    display:none;
  }

  /* title page */
  .signup-box{
    padding:5rem 20px;
  }

  .push-right{
    margin:20px;
    margin-left:0;
    z-index:0;
  }

  .about-me{
    height:78vh;
  }

  /* blog page */
  .contact{
    padding:5rem 0rem 5rem;
    margin:7rem 6rem;
    border-radius:5px;
    background-color:#f4f2eceb;
  }

  .email-info{
    padding:0;
  }

  .contact-button{
    background-color:white;
    font-size:17px;
  }

  .mobile-menu-bar{
    display:block;
    font-size:24px;
    text-decoration:none;
  }

}
