* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(60,60,60);
  max-width:100%;
}

.text-right{
  text-align:right;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a{
  text-decoration: none;
  color: rgb(60,60,60);
}

p, h2, h3, h4{
  font-family: 'EB Garamond', serif;
}

p{
  font-size:18px;
}

html{
  scroll-behavior: smooth;
}

[class*=col-], [class*=col_], [class~=col]{
  padding:0;
}

[class*=grid-], [class*=grid_], [class~=grid]{
  margin:0;
}

h1, h2, h3, h4, a{
  font-family: 'Oswald', sans-serif;

}

.centered{
  text-align:center;
}


.paralax{
  background-image: url("/images/maryna-yazbeck-1389581-unsplash.jpg");
  background-attachment:fixed;
  background-position: top left;
  background-size:cover;
}

.sign-up{
  height:94vh;
}

/* .fixed-landing{
  position:fixed;
} */

.about-info, .services, .avancegen, footer{
  position:relative;
}

/* Header */

.sticky{
  /* position:fixed; */
  top: 0;
  width: 100%;
}
  .mobil-menu{
    display:none;
  }

  .burger-button{
    position:fixed;
    top:4vh;
    right:0vh;
    z-index:9;
    padding:8px;
  }

  .burger-button span{
    width:30px;
    border: 1.5px solid rgb(159, 0, 252);
    background-color:rgb(80,80,80);
    display: block;
    border-radius:22px;
    transition: 1s;

  }

  .burger-button.active span{
    background-color:rgb(80,80,80);
  }

  .burger-top, .burger-bottom{
    position:absolute;
  }

  .burger-top{
    top:02px;
  }

  .burger-bottom{
    bottom:2px;
  }

  .burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color:rgba(250, 250, 250, 0.9);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
    padding-top:26px;
    padding-bottom:26px;
}

.burger-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #7a7876;
  display:block;
  padding:1rem 2rem;
  text-align: center;
  white-space:nowrap;
}

.burger-menu li{list-style:none}

.logo{
  font-size:40px;
  line-height:36px;
}


.space-around{
  display:flex;
  justify-content:space-around;
}

.main-nav a{
  font-size:17px;
  margin-top:90px;
}


/* title */

.signup-box{
  padding:10rem 10.5rem;
  height: 89vh;
  font-size:29px;
  line-height:52px;
  text-align:center;
}

.signup-box h2{
  margin-bottom:24px;
}

.button-title h4{
  padding:9px;
  width:26%;
  margin:auto;
  border:3px solid rgb(60,60,60);
  text-decoration:none;
  box-shadow:5px 5px rgb(99, 63, 162);
  background-color:#fafafa;
}

.signup-box h4:hover{
  background-color:#b0a0cb;
}

/* About */




.about-info{
  padding:5rem 0rem;
  background-color:rgba(250,250,250);
  font-size:18px;
}

.push-up{
  padding:1rem;
}

.gradient{
background-image: linear-gradient(to top, rgb(250, 250, 250), rgba(250, 250, 250, 0.85), rgba(250, 250, 250, 0.67), rgba(250, 250, 250, 0));
}

.about{
  padding:3rem;
}


.about-img{
 margin:10px;
 margin-top:20px;
}

.about-image1{
 padding:6rem;
}

.about-image2{
  background-image: url("https://i0.wp.com/avancegen.com/wp-content/uploads/2017/04/dra_mardach.jpg?w=750");
 background-size: cover;
 background-position:center;
 padding:6rem;
}

.about-image3{
  background-image: url("https://i0.wp.com/avancegen.com/wp-content/uploads/2017/04/dra_mardach.jpg?w=750");
 background-size: cover;
 background-position:center;
 padding:6rem;
}

/* AVANCEGEN  */
.avancegen{
  padding:1rem;
  background-color:#8ba6bee0;
  color:#ececec;
}
.avancegen-img{
  background-position:center;
  background-size:cover;
  margin:auto;
  margin-bottom:15px;
}

.avancegen h3, ul, h2{
  margin:auto;
}

.avancegen h2{
  font-size:30px;
  line-height:42px;
}

.avancegen ul{
  font-family:'Oswald', sans-serif;
  font-size:20px;
  margin-top:30px;
  margin-bottom:30px;
}

.button-avancegen h4{
  color:#ececec;
  width:28%;
  margin:auto;
  border:3px solid #ececec;
  text-decoration:none;
  box-shadow:5px 5px rgb(60,60,60);
  background-color:#8ba6bee0;
  text-align:center;
  padding:20px;
  margin-top:36px;
}

.button-avancegen h4:hover{
  background-color:#6690b2;
}



/* Services */
.service-1-img{
  background-image: url("/images/orfeu-de-santateresa-1117083-unsplash.jpg");
  background-position:center;
  background-size:cover;
  padding:3rem;
}

.service-2-img{
  background-image: url("/images/jorge-aguilar-731953-unsplash.jpg");
  background-position:center;
  background-size:cover;
}


.service-3-img{
  background-image: url("/images/maryna-yazbeck-1389581-unsplash.jpg");
  background-position:center;
  background-size:cover;
}

.service-4-img{
  background-image: url("/images/jodie-stallard-624513-unsplash.jpg");
  background-position:center;
  background-size:cover;
}

.services{
  padding:3rem;
  background-color:rgb(250,250,250);
  position:relative;
}

.push-right{
  margin-right:-30px;
  margin-left:30px;
  margin-top:2rem;
  margin-bottom:2rem;
  background-color:#dee9eeb3;
  z-index:3;
  padding:2rem;
}

.push-left{
  margin-left:-30px;
  margin-right:30px;
}

.services h2{
  margin-bottom:15px;
}

.services-title h2{
  text-align:center;
  margin-left:3rem;
  width:90%;
  padding: 2rem;
  background-color: #d4cddd73;
}
.slideshow-container{
  width:90%;
  margin:auto;
}

.services span, .about-text span{
  color:#edd04e;
}

.about-text span{
  font-size:30px;
  font-family:'Oswald', sans-serif;
  padding:4rem 3rem;
}

/* .mySlides{
  display:none;
} */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(60,60,60);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: #b0a0cb;
}

/* About Paralax */
.paralax{
background-image: url("/images/maryna-yazbeck-1389581-unsplash.jpg");
background-attachment:fixed;
background-position: top left;
background-size:cover;
}

/* Blog */
.blog{
  padding:3rem 1.5rem;
  text-align:center;
  background-color:rgb(250,250,250);
}


.blog-loop-background{
  min-height: 29vw;
    background-size: cover;
    background-position: center;
    position:relative;
}

.blog-loop-info {
  width: 90%;
  padding:0.5rem;
}
.post-preview{
  padding:25px;
}

.overlay{
  position:absolute;
  height:100%;
  width:100%;
  padding: 5%;
  text-align: center;
  opacity: 0;
  background-color: rgba(250,250,250,0.8);
  color:rgb(90,90,90);
  top:0;
}

/* contact  */
.contact{
  height: 60vh;
  padding: 5rem 3rem;
}

textarea{
  padding: 15px 10px 50px;
}


.contact input, textarea{
  margin-bottom:15px;
  width:85%;
}

.contact h2{
  margin-bottom:15px;
  line-height:25px;
  width:85%;
}

.contact p{
  padding-left: 10px;
  padding-top:40px;
}
/* footer */


footer{
  padding:5rem 0rem;
  background-color:#fafafa;
}

.links{
  text-align:center;
}


/* ANIMATE CSS */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated{
  animation-duration: 1s;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration:4s;
}

/* Blog Layout */
.blog-layout{
  padding:1rem 3rem 3rem;
}

.blog-posts h2{
  margin-bottom:25px;
}

.blog-menu{
  margin-bottom:38px;
}

.main-blog-nav{
  margin-top:49px;
}

.main-blog-nav a:hover{
  color:#b0a0cb;
}

.main-nav a:hover{
  color:#b0a0cb;
}

.post-preview a:hover{
  color:#b0abcb;
}



@media (max-width: 768px){
  .mobil-menu{
    display:block;
  }

  .main-nav{
    display:none;
  }

  .about-image2, .about-image3{
    display:none;
  }

}
