---
layout: default
title: R. Mardach blog
---
  <section class="blog-menu grid">
    <a href="/" class="col-4 logo"> Rebecca Mardach, MD</a>
    <nav class="col-8 main-blog-nav">
      <div class="main-title space-around">
        <a href="/"> Home</a>
        <a href="http://avancegen.com/"> AvanceGen</a>
        <a href="/blog"> Blog</a>
        <a href="/contact"> Contact</a>
      </div>
    </nav>
  </section>

  <nav class="mobil-menu">
    <a href="/" class="logo"> Rebecca <br> Mardach</a>
    <div class="burger-button">
      <span class="burger-top"></span>
      <span class="burger-middle"></span>
      <span class="burger-bottom"></span>
    </div>
    <div class="burger-menu">
      <a href="/"> Home</a>
      <a href="/blog"> Blog</a>
      <a href="/contact"> Contact</a>
    </div>
  </nav>



<section class="blog-layout">
  <h2> {{page.heading}}</h2>
  <h4> {{page.author}}</h4>

  {{content}}

</section>
