<!DOCTYPE html>
<head>
  <title> Rebecca Mardach </title>
  <!-- GRIDLEX -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <!-- viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- my css file -->
  <link href="/main.css" rel="stylesheet">
</head>
<body>


{{content}}

<footer class="grid">
  <div class="col-4 links">
    <a href="#about">About</a><br>
    <a href="#services"> Services</a><br>
    <a href="#blog"> Blog</a><br>
    <a href="/contact">Contact</a><br>
  </div>
    <div class="form col-6">
      <h2> Be the first to hear about updates and events!</h2><br>
      <form class="col-4 contact-form">
        <input type="email" name="_replyto" class="contact-input" placeholder="Your Email"></input>
        <input type="submit" value="Submit" class="contact-button"></input>
      </form>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/main.js"></script>

</body>
</html>
